body {
	font-family: Georgia, serif;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

h1 {
	font-size: 32px;
}

h2 {
	color: #ffffff;
	font-size: 56px; 
}


.hero {
	background-image: url('https://www.google.be/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjZopzm6ZHNAhUCtRQKHUvqA-MQjRwIBw&url=http%3A%2F%2Fwww.planet-sansfil.com%2Ftp-link-devoile-son-extenseur-cpl-sans-fil-n-300mbps-av200%2F&psig=AFQjCNHDr7RQ4UyTgwPlz5OyaZLA6p2Lrw&ust=1465248383822966');
	background-position: center top;
	background-size: cover;
	padding: 250px 0;
	margin: 30px;
	text-shadow: 0 2px #000000;
	font-family: 'Trebuchet MS', 'Helvetica';
}


p {
	color: #ffffff;
	font-size: 2em;
}

.hero a {
	color: #00FFAA;
	font-size: 24px;
	text-decoration: none;
	padding: 5px;
}

#footer {
	color: DarkSlateGray;
	font-size: 16px;
}



