body {
	font-family: Georgia, serif;
	background-color: #87CEEB;
	height: 50%;
	margin: 0;
	text-align: left;
	width: 100%;
}

h1 {
	font-family: Georgia, serif;
	background-color: #87CEEB;
	height: 50%;
	margin: 0;
	text-align: center;
	width: 100%;
}

ul {
	text-align: left;
	font-family: Georgia, serif;
	height: 50%;
}
